header{
  position: absolute;
  position: sticky;   /* rende l’header “appiccicoso” */
  top: 0;             /* sempre in cima */
  z-index: 1000;      /* sopra tutti gli altri elementi */
  top: 5px;
  left: 25%;

  margin-top: 25px;
  background-color: rgb(245, 250, 255);
  width: 50vw;
  border-radius: 5px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);

  nav{
    width: 100%;
    ul{
      display: flex;
      justify-content: space-around;
      list-style: none;
      flex-wrap: wrap;

      li{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 5px 25px;
        border-radius: 15px;
        gap: 10px;
        background-color: rgba(245, 250, 255, 0);
        svg{
          fill: #000;

        }
        a{
          color: black;
          text-decoration: none;
          display: flex;
        }
        &#focused{
          background-color: rgb(0, 0, 0);
          svg{
            fill: #fff;
          }
          path{
            fill: #fff;
          }
          a{
            color: white;
          }
        }
      }
    }
  }
}
li svg {
  width: 18px;
  height: 18px;
  display: block;      /* IMPORTANTISSIMO */
  flex-shrink: 0;      /* evita che flex ricalcoli */
}
