<app-header></app-header>
<div class="containerC">
  <main>
    <section id="home">
      <div class="colls">
        <h1>Hi, I'm Federico Potrich</h1>
        <h2>Coding lover</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae sequi vel aliquam laborum neque
          aspernatur
          commodi nulla, dicta dolor obcaecati nesciunt iusto corporis voluptatibus repellendus recusandae explicabo
          libero quo deserunt!
          Consequuntur exercitationem sed cum aspernatur. Maxime nam sapiente fugiat suscipit consequuntur atque
          perspiciatis eum accusantium. Numquam ducimus non similique voluptatibus incidunt eius id error. Provident
          minima odit quos harum magnam.
          Facilis laboriosam esse eos saepe libero veritatis nisi sapiente, dicta nam, nobis, pariatur placeat suscipit
          ab! Facilis, necessitatibus. Quidem aut animi, veniam ab magni consectetur corporis saepe eligendi praesentium
          dolores?
          Dignissimos ut laboriosam eveniet! Ullam enim autem facere odio iste corporis est quaerat ex ipsum, a aperiam
          delectus unde porro accusamus aliquam nisi non labore dolore natus inventore velit quo?
          Cupiditate voluptatem dolores ut optio? Expedita ratione inventore soluta repellat culpa officia. Magni
          explicabo exercitationem iusto minima soluta dolor! Voluptas placeat explicabo natus deleniti qui corporis
          molestias! Est, dolorum itaque?</p>
        <div class="position">
          <!-- icon -->
          <p>Trento in Trentino - Alto Adige Sudtirol</p>

        </div>
        <a href="">Contact me</a>
        <button>Download CV</button>
        <span class="line"></span>
        <div class="accounts">
          <p>Follow me here: </p>
        </div>
      </div>
      <div class="colls">
        <div id="pfp"></div>
      </div>
    </section>
    <section id="about">

    </section>
    <section id="projects">

    </section>
    <section id="contacts">

    </section>
  </main>

</div>
